<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index goes here</title>
</head>
<body>
    <h1>SEE ALL THE PHOTOS WORM</h1>
    <ul>
        <% allPhotos.forEach(photo => { %>
            <li>
                <%= photo.name %> 
            </li>
        <% }) %> 
    </ul>
</body>
</html>
