<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makeanewphoto</title>
</head>
<body>
    <h1>MAKE NEW PHOTO HERE HUMAN</h1>
    <form action="/photos" method="post">
        Name: <input type="text" name="name"><br>
        Link: <input type="text" name="link"><br>
        <input type="submit" value="create">
    </form>
</body>
</html>

